@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif
}

.background__codigo {
    background-image: url('../assets/Código.png');
    background-color: var(--cor-primaria);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pagina__home .cabecalho__menu__link[href="index.html"]:after,
.pagina__sobre .cabecalho__menu__link[href="about.html"]:after,
.pagina__projetos .cabecalho__menu__link[href="projects.html"]:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--cor-terciaria);
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    transform: scale(1.1);
}

.apresentacao{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__projeto{
    margin: 5% 15%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.titulo__destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.apresentacao__imagem {
    width: 100%;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.apresentacao__imagem__projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
}

.imagem__index{
    width: 400px;
    height: auto;
    border-radius: 1rem;
    position: absolute;
    box-sizing: border-box;
    margin: 10px;
}

.imagem__about{
    width: 400px;
    height: auto;
    border-radius: 1rem;
    position: absolute;
    box-sizing: border-box;
    margin: 10px;   
}

.imagem__project__desafio2,
.imagem__project__desafio3{
    position: relative;
    width: 300px;
    height: 270px;
    margin: 50px;
}

.linha__borda{
    width: 390px;
    height: 240px;
    border-radius: 1rem;
    border: 3px solid var(--cor-terciaria);
    margin-top: 40px;
    margin-left: 30px;
}

.linha__borda__about{
    width: 380px;
    height: 210px;
    border-radius: 1rem;
    border: 3px solid var(--cor-terciaria);
    margin: 40px;
    margin-top: 40px;
}

.linha__borda__desafio2,
.linha__borda__desafio3{
    width: 280px;
    height: 260px;
    border-radius: 4rem;
    border: 3px solid var(--cor-terciaria);
    position: relative;
    left: -330px;
    top: 10px;
    z-index: -1;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 2% 5%;
    }

    .cabecalho__menu {
        gap: 40px;
    }

    .apresentacao {
        margin: 5%;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__imagem__projeto {
        flex-direction: column;
        align-items: center;
    }

    .imagem__index,
    .imagem__about {
        width: 100%;
        position: relative;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .cabecalho__menu {
        flex-direction: center;
        gap: 20px;
    }

    .apresentacao {
        margin: 5% 10%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.25rem;
    }

    .apresentacao__links__navegacao {
        width: 100%;
        font-size: 1.25rem;
        padding: 16px 0;
    }

    .imagem__index,
    .imagem__about {
        width: 100%;
    }

    .linha__borda,
    .linha__borda__about {
        width: 100%;
        height: auto;
        border: none;
    }

    .linha__borda__desafio2,
    .linha__borda__desafio3 {
        width: 100%;
        height: auto;
        border: none;
    }
}

@media (max-width: 480px) {
    .cabecalho__menu {
        gap: 10px;
        flex-direction: center;
        align-items: center;
    }

    .apresentacao {
        margin: 5%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }

    .apresentacao__links__subtitulo,
    .apresentacao__links__navegacao {
        font-size: 1rem;
    }

    .apresentacao__imagem {
        margin-top: 20px;
    }


    .imagem__index,
    .imagem__about {
        width: 100%;
    }

    .linha__borda,
    .linha__borda__about {
        display: none;
    }

    .linha__borda__desafio2,
    .linha__borda__desafio3 {
        display: none;
    }

    .rodape {
        position: relative;
        margin-top: 20px;
        font-size: 1rem;
        padding: 16px;
    }
}